
.entry{
	float: left;
	align: center;
}

.entry li{
	display: inline-block;
}

.entry li a{
	background-color: yellow;
	padding: 100px 100px;
}


form {
	display: block;
	clear: both;
}

#name {
	text-align: center;
	font-family: tahoma;
	font-weight: bold;
	font-size: 40px;
	color: #0000FF;
}

#name:hover{
	color: #FF0000;
};

img {
	margin: auto;
}

.login {
	float: right;
	background-color: green;
}

#submit:hover {
	background-color: purple;
};